

extends layout

block content 
  
  div.content.col-md-6
    
    form 
      .form-group      
        input#author.form-control(name='author',  placeholder="placeholder author" )
          
      .form-group      
        textarea#body.form-control(name='body', placeholder='explain what work you need')
      
      div#tag-editor.form-group  
        iv#tags
          //- span.each-tag wassap theere
          //-  span.del-tag 
        input#tag-input(type="text",name='tags', autocomplete="off" placeholder="with what language? (make tags by pressing enter)")
          
      input#enter.btn.btn-primary(type="button", value="enter")    

  
    div.wrap 
      each post, i in posts
       article.post 
          div.author-area
            div.post-author
               h3=post.author 
            div.post-date
               h3=' posted on: ' + post.posted
          div.author-body
            p=post.body
            ul  
               each tag in post.tags
                li.post-tag(data-id=tag)=tag
          div.extra
           div.like-box
            i.like.fa.fa-heart-o(data-id=post._id, aria-hidden='true')
           div.like-amount
            span.like-number=post.likes
           div.view-post 
             a.view-post-text(href="/post/"+"author/"+post._id) view post
    
    div.loadmore 
       span load more posts
             
block scripts 
  
  script(src='/js/client.js')
  script(src='/js/ajax.js')
